.header {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px;
   box-shadow: #1c1c1c 5px 5px 10px;
 }
 
input {
   border-radius: 15px;
   height: 30px;
   padding: 7px 10px;
   margin: 8px 0;
   font-family: 'Red Hat Mono';
}

input:hover {
   border: 3px solid  #9fef95;
 }